@import url("./base/colors.css");
@import url("./base/typography.css");
@import url("./base/general.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.patate {
    color: tomato;
}

.active {
    font-weight: 600;
    color: tomato !important;
    pointer-events: none;
}
