@import url("./base/colors.css");
@import url("./base/typography.css");
@import url("./base/general.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes alert {
    0% {
        top: -200px;
    }
    30% {
        top: 0;
    }
    70% {
        top: 0;
    }
    100% {
        top: -200px;
    }
}

.patate {
    color: tomato;
}

.active {
    font-weight: 600;
    color: tomato !important;
    pointer-events: none;
}

.alert {
    top: -200px;
    animation: alert 2000ms ease-in-out 100ms backwards;
}
